<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1.0,user-scalable=no">
<title>报单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{:config('home_css')}weui.min.css">
<link rel="stylesheet" href="{:config('home_css')}jquery-weui.min.css">
<link rel="stylesheet" href="{:config('home_css')}public.css">
<link rel="stylesheet" href="{:config('home_css')}details.css">
<link rel="stylesheet">
<style>
  ::-webkit-input-placeholder { /* WebKit browsers */
       color:#999;
       font-size:14px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:#999;
        font-size:14px;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:#999;
        font-size:14px;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:#999;
        font-size:14px;
    }
    ::-webkit-textarea-placeholder{
       color:#999;
       font-size:14px;
    }
    
    .declaration_footer{
      margin:0px 16px;
    }
    .declaration_bottom_btn{
      width:100%;
      margin-top:8px;
      height: 40px;
      color: #fff;
      font-size: 16px;
      border-radius: 20px;
      background-color: #ff1744;
    }
</style>
</head>
<body class="body_declaration">
    <div class="container">
    	<header class="public_header">
    		<div class="public_left">
    			<a href="javascript:history.go(-1)">
    				<img src="{:config('home_images')}nav_icon_back.png" class="nav_back" alt="">
    				<span class="header_back">返回</span>
    			</a>
    		</div>
    		<div class="public_center">报单页</div> 
    	</header>
      <form id="form_declaration" method="post" action="">
    	<div class="declaration_con">
    		<div class="weui-panel weui-panel_access Details_con_panel">
    			<div class="weui-pannel__bd">
    				<div class="weui-media-box weui-media-box_text">
                      <h4 class="weui-media-box__title Details_title">
                      	  报单填写规则
                      </h4>
                      <div>
                         <p class="declaration_rule"></p>
                      </div>
            </div>
    			</div>
   
    			<div class="weui-pannel__bd">
    				<div class="weui-media-box weui-media-box_text declaration_box">
                    <h4 class="weui-media-box__title Details_title">
                      	  货品交易方式
                    </h4>
                    <div class="weui-flex">
                      	<div class="weui-flex__item">
                      	 	<span class="radio_con radio_cons">
                      	 		<input type="radio" class="weui_check radio_status" name="mode" value="0" checked="checked">
                      	 	</span>
                      	 	<span class="radio_text">自行垫付</span>
                      	  
                      	</div>
                      	<div class="weui-flex__item">
                      	 	<span class="radio_con">
                      	 	
                            <input type="radio" class="weui_check radio_status" name="mode" value="1" >
                      	 	</span>
                      	 	<span class="radio_text">货到付款</span>
                      	</div>
                      	<div class="weui-flex__item">
                      	 	<span class="radio_con">
                      	 		<input type="radio" class="weui_check radio_status" name="mode" value="2">
                      	 	</span>
                      	 	<span class="radio_text">现货直邮</span>
                      	</div>
                    </div>
            </div>  
    			</div>
    		</div>
    	</div>
      
    	<div class="declaration_contow">
    		<div class="weui-cells">
    			<div class="weui-cell">
    				<div class="weui-cell__bd declaration_contow_title">
    					货品明细
    				</div>
    			</div>
    			<div class="weui-cell">
    				<div class="weui-cell__bd declaration_contow_label">
    					物流单号(订单编号)
    				</div>
    				<div class="weui-cell__ft">
    					<input type="text" class="weui-input declaration_order_number" name="order_number"  placeholder="点击填写">
    				</div>
    			</div>
    			<div class="weui-cell">
    				<div class="weui-cell__bd declaration_contow_label">
    					货品数量
    				</div>
    				<div class="weui-cell__ft">
    					<input type="text" class="weui-input declaration_good" id="good_number" name="quantity" placeholder="点击选择" value="">
    					<img src="{:config('home_images')}profile_orders_more.png" alt="" class="good_imgleft">
    				</div>
    			</div>
    			<div class="weui-cell">
    				<div class="weui-cell__bd declaration_contow_label">
    					货品属性
    				</div>
    				<div class="weui-cell__ft">
            <!--  <a href="javascript:;" class="open-popup" data-target="#declaration_good_name"> --> 
    					<input type="text" class="weui-input declaration_good" id="good_name" name="good_name" placeholder="点击选择" value="">
    					<img src="{:config('home_images')}profile_orders_more.png" alt="" class="good_imgleft">
             <!-- </a> --> 
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="Details_common">
    		<!-- *京东，苏宁请填写订单编号，其余填写物流单号 -->
    	</div>
    	<div class="weui-cells">
          <div class="weui-cell">
            <div class="weui-cell__bd weui-cell__primary">
              <textarea class="weui-textarea declaration_textarea" placeholder="对本次交易的备注" name="remarks" rows="3"></textarea>
              <div class="weui-textarea__counter textarea_common"><span>0</span>/200</div>
            </div>
          </div>
        </div>
        <div style="display:none;">
           <input type="text" name="good_id" value=""/>
        </div>
        <div class="weui-cells weui-cells_bottom">
    		<div class="weui-cell">
    			<div class="weui-cell__bd Details_new">
    				我是新手，点击查看赚钱说明
    			</div>
    			<div class="weui-cell__ft Details_new">
    				<img src="{:config('home_images')}profile_orders_more.png" alt="">
    			</div>
    		</div>
    	</div>
        
      <div class="Details_footer">
        <div class="declaration_footer">
    		   <button type="submit" id="declaration_submit" class="weui-btn  declaration_bottom_btn">提交</button>
        </div> 
    	</div>
    </form>
    </div>
     <!-- 添加货物名称弹框 -->
      <div id="declaration_good_name" class='weui-popup__container popup-bottom'>
           <div class="weui-popup__overlay"></div>
           <div class="weui-popup__modal user_alipay">
             
             <div class="modal-content">
                <div class="weui-cells weui-cells_form" style="padding:10px 0 20px 0;">
                   <div class="weui-cell">
                      <div class="weui-cell__hd"><label for="" class="weui-label">货品名称</label></div>
                      <div class="weui-cell__bd">
                        <input class="weui-input" id="goodname" type="text"  value="" placeholder="请输入货物名称">
                      </div>
                   </div>
                </div>
             </div>

               <div class="user_info_alipay_btn">
                 <a href="javascript:;" class="close-popup alipay_close1">关闭</a>
                 <a href="javascript:;" id="apliay_close" class="alipay_close2">确定</a>
               </div>
             
           </div>
        </div>
    <script src="{:config('home_js')}jquery-3.0.0.min.js"></script>
    <script src="{:config('home_js')}jquery-weui.min.js"></script>
    <script src="{:config('home_js')}public.js"></script>
    <script>
    	$(function(){
    		/* 货品交易方式 */
    		$('input:radio[name="mode"]').change(function(){  
               if($(this).is(":checked")){ 
               	   $(".radio_con").removeClass("radio_cons");
                   $(this).parent().addClass("radio_cons");
                }else{  
                   return;   
                }  
            }); 
            
             /*  货品数量  */
             $("#good_number").select({
               title: "选择货品数量",
               closeText:"关闭",
               items: [
                 {
                   title: "1",
                   value: "1",
                 },
                 {
                   title: "2",
                   value: "2",
                 },
                 {
                   title: "3",
                   value: "3",
                 },
                 {
                   title: "4",
                   value: "4",
                 },
                 {
                   title: "5",
                   value: "5",
                 },
                 {
                   title: "6",
                   value: "6",
                 },
                 {
                   title: "7",
                   value: "7",
                 },
                 {
                   title: "8",
                   value: "8",
                 },
                 {
                   title: "9",
                   value: "9"
                 },
                 {
                   title: "10",
                   value: "10"
                 }
               ]
             });

             
             /* 货品名称 */
             /*$("#apliay_close").click(function(){
               var name=$("#goodname").val();
               $("#good_name").val(name);
               $.closePopup();
               
             })*/
    		
            
    		
    	})
    </script>
    <script src="{:config('home_js')}declaration.js"></script>
</body>
</html>