<!--头部-->
  {include file='public/header' /}
  <link rel="stylesheet" href="{:config('admin_css')}styles.css">
  <script>
      
  </script>
  <body>
   
    <!-- 添加地址 -->
      <div class="x-body">
        <form class="layui-form"  action="" id="address-form">
          <div class="layui-form-item">
          	  <div class="address_city">
                 <!-- 省级区 -->
                 <input type="text" name="province" class="layui-input select_address_city" placeholder="请选择省份" lay-verify="province">
                 <!--  市级区  -->
                 <input type="text" name="city" class="layui-input select_address_city" placeholder="请选择城市" required="" lay-verify="city">
                 <!--  县,镇级区  -->
                 <input type="text" name="district" class="layui-input select_address_city" placeholder="请选择区县">
                 
              </div> 
          </div>   
          <div class="layui-form-item">
              <input type="text" name="address_info"  lay-verify="" required="" placeholder="请输入你的详细地址" autocomplete="off" class="layui-input">
          </div>   
          <div class="layui-form-item address_city_btn">
              
              <button  class="layui-btn address_city_add " lay-filter="add" lay-submit="">
                  确定
              </button>
              <!--  <span  class="address_city_close" id="city_close" >
                  取消
              </span> -->

          </div>
      </form>
    </div>
    
    <script>
       
      layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

        //自定义验证规则
        form.verify({
          province: function(value){
            if(value.length < 2){
              return '不能为空';
            }
            if(!new RegExp("^[\u4e00-\u9fa5]+$").test(value)){
              return '请输入正确的省份名称';
            }
            
          },
          city:function(value){
            if(value.length < 1){
              return '不能为空';
            }
            if(!new RegExp("^[\u4e00-\u9fa5]+$").test(value)){
              return '请输入正确的市区名称';
            }
          }
          
        });

        //监听提交
        form.on('submit(add)', function(data){
          var province=$("input[name='province']").val();
          var city=$("input[name='city']").val();
          var district=$("input[name='district']").val();
          var address_info=$("input[name='address_info']").val();
          var address =province+city+district;
          var code;
          //发异步，把数据提交给php
          $.ajax({
            url:"/api/v1/shopinfo/create_address",
            data:{"address":address,"address1":address_info},
            dataType:"json",
            type:"post",
            success:function(msg){
                console.log(msg);
                if(msg.code=="201"){
                   layer.alert("增加成功",{icon:6,time:1500},function(){
                      console.log("msg")
                      var index = parent.layer.getFrameIndex(window.name);
                      parent.layer.close(index);
                   })
                  
                }else{
                   layer.alert("增加失败",{icon:6},function(){
                         var index = parent.layer.getFrameIndex(window.name);
                         parent.layer.close(index);
                   });
                   return false;
                }
                
            },
            error:function(error){
              console.log("报错了啊");
              console.log(error);
            }
          })
        })
      });
      

      
  </script>
  </body>

</html>