<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>修改个人信息</title>
<script src="JQ/jquery.js"></script>
<script src="{:config('admin_lib')}layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="{:config('admin_js')}xadmin.js"></script>
<script type="text/javascript" src="{:config('admin_lib')}jquery/1.9.1/jquery.min.js"></script>
	<script>
	$(function(){
		$("#btn").click(function(){
			var $for_name=$("#for_name").val();
			$.ajax({
				type:"get",
				url:"{:url('/api/v1/oyupdate/de_switch')}",
				data:{username:$for_name},
				success:function(data){
					console.log(data);
				}
			});
		});
	})
    </script>
  </head>
  <body>
		<input type="text" id="for_name"/>
		<button id="btn">蛤</button>
  </body>
</html>
