<!--头部-->
{include file='public/header' /}

<body>
{include file='public/left_menu' /}
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <!-- <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul> -->
          <div class="layui-tab-content" style="top:0;">
            <div class="layui-tab-item layui-show">
                <iframe src="{:url('admin/admin/welcome')}" frameborder="0" scrolling="yes" name="layname" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    {include file="public/footer" /}
    
    <!-- 底部结束 -->
    <script>
        $(function(){
            $.ajax({
                type:"get",
                url:"{:url('api/v1/backstage')}",
                dataType:'json',
                success:function(data){
                    console.log(data);
                    var datanav=data.data.ps_infoA;
                    var navhtml='<ul id="nav">';
                    for(var i=0;i<datanav.length;i++){
                         navhtml+='<li>';
                         navhtml+='<a href="'+datanav[i].ps_a+'.html" target="layname">';
                         navhtml+='<i class="iconfont">&#xe6b8;</i>';
                         navhtml+='<cite class="">'+datanav[i].ps_name+'</cite>';
                         navhtml+='<i class="iconfont nav_right">&#xe697;</i>';
                         navhtml+='</a>';
                         navhtml+='</li>';
                    }

                    
                     navhtml+='</ul>';
                    $("#side-nav").append(navhtml);
                    

                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            });
        });


    </script>
    <!--js-->
    {include file="public/base_js" /}
</body>
</html>