<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>登陆</title>
<script src="JQ/jquery.js"></script>
<script src="{:config('admin_lib')}layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="{:config('admin_js')}xadmin.js"></script>
<script type="text/javascript" src="{:config('admin_lib')}jquery/1.9.1/jquery.min.js"></script>
	<script>
    $(function(){	
        $("#btn").click(function(){
			$name=$("#name").val();
			$pass=$("#pass").val();
			
			$.ajax({
				type:"post",
				url:"/api{:url('api/v1/land/land')}",
				data:{lang_name:$name,lang_pass:$pass},
				success:function(data){
				}
			});
			
        });     
    });   
    </script>
  </head>
  <body>
		<input type="text" id="name"/>
		<input type="text" id="pass"/>
		<button id="btn">蛤</button>
  </body>
</html>
