<!--头部-->
  {include file='public/header' /}
  <link rel="stylesheet" href="{:config('admin_css')}styles.css">
  <body class="layui-anim layui-anim-up bodycolor">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">会员管理</a>
      </span>
    </div>
    <!-- 搜索条件 -->
    <div class="x-body">
      <div class="layui-row">
        <div class="layui-input-inline">  
            <select name="contrller" id="memberlist_select_1" class="rushbuy_paixu">
              <option value="4">全部</option>
              <option value="1">有结算</option>
            </select> 
        </div> 
          <div class="layui-input-inline">  
            <select name="contrller" id="memberlist_select_2" class="rushbuy_paixu">
              <option value="0">筛选条件</option>
              <option value="username">会员账号</option>
              <option value="receipt">支付宝账号</option>
            </select> 
          </div> 
          <div class="layui-input-inline" style="padding-top:2px;">
          <input type="text" name="username"  placeholder="请输入会员账号或者支付宝账号" autocomplete="off" class="layui-input" style="width:280px;">
          </div>
          <button class="layui-btn member_btn_submit" style="margin-top:2px;" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
          <div class="layui-input-inline x-right">
            <select name="contrller" class="rushbuy_paixu">
              <option value="0">默认排序</option>
            </select>
          </div>
      </div>
      
      <!-- 表格数据 -->
      <table class="layui-table" style="margin-bottom:60px;">
        <thead>
          <tr>
            <th>编号</th>
            <th>会员账号</th>
            <th>注册时间</th>
            <th>支付宝</th>
            <th>联系地址</th>
            <th>总实际结算佣金</th>
            <th>总预估结算佣金</th>
            <th>操作</th></tr>
        </thead>
        <tbody id="memberlist_tbody">
        </tbody>
        <tbody id="shoplist_tbodynone" style="display:none;">
          <tr><td colspan="8" style="text-align: center;height:200px;">暂无你要的数据</td></tr>
        </tbody> 
      </table>

      <!-- 分页 -->
      <div class="memberlist_page">
        <div class="page member_listpage">
          <div class="address_num">共有数据：<span id="address_currentnum"></span> 条</div>
          <div id="memberlistpage" class="listpages">
          </div>
          <div>
            <!-- <span class="member_list_spanpage">
              <select name="contrller" class="member_list_selectpage" id="memberlist_select" >
                <option value="5">5条/每页</option>
                <option value="3">3条/每页</option>
                <option value="7">7条/每页</option>
              </select>
            </span> -->
            <span class="member_list_spanpage">
              跳至&nbsp;&nbsp;<input type="text" class="input-page" name="input-page" />&nbsp;页
            </span>
            <span class="member_list_spanpage">
              <button class="input-page_btn member_btn1 member_btn2" id="input-page">确定</button>
            </span>
        </div>
        </div>
      </div>  

    </div>
    <script src="{:config('admin_js')}jqpaginator.min.js"></script>
    <script src="{:config('admin_js')}member.js"></script>
      
    
  </body>

</html>