{include file='public/header' /}
<link rel="stylesheet" href="{:config('admin_css')}styles.css">
<body class="bodycolor">
     <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">会员管理</a> >
        <a href="">会员信息编辑</a>
      </span>
    </div>
    <div class="x-body memberlist_edit">
        <form class="layui-form rushbuy_add_body">
          <!-- 会员账号 -->	
          <div class="layui-form-item member_edits">
              <label for="username" class="layui-form-label memberlist_editlabel">
                  <span class="x-red">*</span>会员账号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input readonly_size" disabled="disabled">
              </div>
          </div>
          <!-- 注册时间 -->
          <div class="layui-form-item member_edits">
              <label for="create_time" class="layui-form-label memberlist_editlabel">
                  <span class="x-red">*</span>注册时间
              </label>
              <div class="layui-input-inline">
                  <input type="text" class="layui-input readonly_size" name="create_time" id="create_time" required="" disabled="disabled">
              </div>
          </div>
          <!-- 支付宝姓名 -->
          <div class="layui-form-item member_edits">
          	 <label for="" class="layui-form-label memberlist_editlabel">
          	 	<span class="x-red">*</span>支付宝姓名
          	 </label>
          	 <div class="layui-input-inline">
                  <input type="text" class="layui-input layui-inputtime" name="receipt_name" required="" id="receipt_name">
              </div>
          </div>
          <!-- 支付宝账号 -->
          <div class="layui-form-item member_edits">
          	 <label for="" class="layui-form-label memberlist_editlabel">
          	 	<span class="x-red">*</span>支付宝账号
          	 </label>
          	 <div class="layui-input-inline">
                  <input type="text" class="layui-input layui-inputtime" name="paymentac" id="paymentac" required="">
              </div>
          </div>
           <!-- 联系人姓名 -->
          <div class="layui-form-item member_edits">
          	 <label for="" class="layui-form-label memberlist_editlabel">
          	 	<span class="x-red">*</span>联系人姓名
          	 </label>
          	 <div class="layui-input-inline">
                  <input type="text" class="layui-input readonly_size" name="address_name" id="address_name" required="" disabled="disabled">
              </div>
          </div>
          <!-- 联系地址 -->
          <div class="layui-form-item member_edits">
          	 <label for="" class="layui-form-label memberlist_editlabel">
          	 	<span class="x-red">*</span>联系地址
          	 </label>
          	 <div class="layui-input-inline">
                <input type="text" class="layui-input readonly_size" name="user_address" id="user_address" required="" disabled="disabled">
              </div>
          </div>
          <!-- 总实际结算金额 -->
          <div class="layui-form-item member_edits">
              <label for="actual_price" class="layui-form-label memberlist_editlabel">
                  <span class="x-red">*</span>总实际结算金额
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="actual_price" name="actual_price" required="" lay-verify="actual_price" disabled="disabled"
                  autocomplete="off" class="layui-input readonly_size">
              </div>
          </div>
          <!-- 总预估结算金额 -->
          <div class="layui-form-item member_edits">
              <label for="estimate_price" class="layui-form-label memberlist_editlabel">
                  <span class="x-red">*</span>总预估结算金额
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="estimate_price" name="estimate_price" required="" lay-verify="estimate_price" disabled="disabled"
                  autocomplete="off" class="layui-input readonly_size">
              </div>
          </div>
          <!-- 新密码 -->
          <div class="layui-form-item member_edits">
              <label for="member_pwd" class="layui-form-label memberlist_editlabel">
                  新密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="member_pwd" name="member_pwd" required="" lay-verify="estimate_price" 
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <!-- 确认密码 -->
          <div class="layui-form-item member_edits">
              <label for="member_repwd" class="layui-form-label memberlist_editlabel">
                  确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="member_repwd" name="member_repwd" required="" lay-verify="estimate_price" 
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <p style="margin-left:65px;font-size:12px;color:#999;"> 
              提示：编辑只能修改支付宝姓名和账号还有密码(密码非必填),其他不能修改
          </p>
          <!--  submit button提交 -->
          <div class="layui-form-item" style="text-align:center;margin-top:50px;">
              <button type="button"  class="layui-btn shopadd_btn_submit" id="member_edit_btn">
                  提交
              </button>
          </div>
      </form>
     
    </div>
    
    <script>
      $(function(){
         
          var storage=window.localStorage;
          var actual=storage.getItem("member_anumprice");
          var estimate=storage.getItem("member_enumprice");
          var searchUrl=window.location.search; //获取路径
          var id=searchUrl.replace('?', '').split('&'); //获取路径Id
          $.ajax({
              url:"{:url('/api/v1/oyupdate/edit_member')}",
              data:{user_id:id,actual_price:actual,estimate_price:estimate},
              dataType:"json",
              Type:"get",
              success:function(res){
                  console.log(res);
                  $("#username").val(res.data[0].username);
                  $("#create_time").val(res.data[0].create_time);
                  $("#receipt_name").val(res.data[0].receipt_name);
                  $("#paymentac").val(res.data[0].payment_ac);
                  $("#address_name").val(res.data[0].address_name);
                  $("#user_address").val(res.data[0].user_address);
                  $("#actual_price").val(actual);
                  $("#estimate_price").val(estimate);

              },
              error:function(error){
                  console.log(error);
                  layer.msg("数据获取失败",{icon:5,time:1500},function(){
                      window.location.href="memberlist.html";
                  })
              }
          });

          $("#member_edit_btn").click(function(){
               var receiptname=$("#receipt_name").val();
               var paymentac=$("#paymentac").val();
               var password=$("#member_pwd").val();
               var repassword=$("#member_repwd").val();
               var datas={user_id:id,receipt_name:receiptname,payment_ac:paymentac,password:password,password1:repassword};
               if(receiptname==""){
                 layer.alert("支付宝姓名不能为空",{icon:5,time:1500});
               }else if(paymentac==""){
                 layer.alert("支付宝账号不能为空",{icon:5,time:1500});
               }else{
                 $.ajax({
                    url:"{:url('/api/v1/oyupdate/edit')}",
                    data:datas,
                    dataType:"json",
                    type:"post",
                    success:function(res){
                       console.log(res);
                       if(res.code=="201"){
                          layer.msg("编辑成功",{icon:1,time:1500},function(){
                             window.location.href="memberlist.html";
                          })
                       }else{
                          layer.msg("编辑失败",{icon:5,time:1500},function(){
                             return;
                         })
                       }   
                    },
                    error:function(error){
                       console.log(error);
                       layer.msg("编辑失败",{icon:5,time:1500},function(){
                          return;
                       })
                    }
               })

             }

          })


      })
    </script>
    
  </body>
</html>