<!--头部-->
  {include file='public/header' /}
  <link rel="stylesheet" href="{:config('admin_css')}styles.css">
  
<body>
    
    <!-- 会员报单订单管理 -->
      <div class="x-body">
        <form class="layui-form" id="jiesuao"> 
          <div class="layui-form-item table_diolg">
          	 <label for="username" class="layui-form-label">
               <span class="x-red"></span>订单号：
             </label>
             <div class="layui-input-inline">
               <span id="order_number"></span>
             </div>  
          </div>
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">
             <span class="x-red"></span>会员账号：
            </label>
            <div class="layui-input-inline"> 
             <span id="username"></span>
            </div> 
          </div>
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">
             <span class="x-red"></span>支付宝姓名：
            </label> 
            <div class="layui-input-inline"> 
               <span id="payment_name"></span>
            </div>
          </div>
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">
             <span class="x-red"></span>支付宝账号：
            </label> 
            <div class="layui-input-inline">
              <span id="payment_ac"></span>
            </div>  
          </div>
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">
             <span class="x-red"></span>货品名称：
            </label>
            <div class="layui-input-inline">
             <span id="good_name"></span>
            </div> 
          </div>
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">
             <span class="x-red"></span>货品数量：
            </label>
            <div class="layui-input-inline">
             <span id="quantity"></span>
            </div> 
          </div>
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">		
             <span class="x-red"></span>货品交易方式：
            </label>
            <div class="layui-input-inline"> 
             <span id="mode"></span>
            </div> 
          </div>  
          <div class="layui-form-item table_diolg">
          	<label for="username" class="layui-form-label">
             <span class="x-red"></span>预估结算金额：
            </label> 
            <div class="layui-input-inline">
              <span id="estimate_price"></span>
            </div> 
          </div>   
          
          <div class="layui-form-item table_jiesua" id="jiesua_money">
              <label for="username" class="layui-form-label">
                  <span class="x-red">实际结算金额：</span>
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="money_num"  name="actual_price"  
                  autocomplete="off" required="" lay-verify="actualprice" class="layui-input">
              </div>
          </div> 
          <div class="layui-form-item table_jiesua" id="jiesua_texterar">
              <label for="username" class="layui-form-label">
                  <span class="x-red">商家备注：</span>
              </label>
              <div class="layui-input-inline table_diolg_textarea">
                  <input type="text" id="userinfo" name="business_rm"  
                  autocomplete="off" class="layui-input">
              </div>
          </div> 
          <div class="layui-form-item table_jiesua" style="display:none;">
              <label for="username" class="layui-form-label">
                  <span class="x-red">结算ID：</span>
              </label>
              <div class="layui-input-inline table_diolg_textarea">
                  <input type="text" id="userinfoid" name="id"  
                  autocomplete="off" class="layui-input">
              </div>
          </div> 
          
          <!-- end  -->
          <div class="layui-form-item table_jiesua_btn">
              
              <button  class="layui-btn table_jiesua_btnok" lay-filter="jiesuao" lay-submit="">
                  确定结算
              </button>

          </div>
      </form>
    </div>
    
    <script>


      /* 获取id报单接口 */
      var searchURL = window.location.search;//获取路径
      var id = searchURL.replace('?', '').split('&');
      settlementlist();
      function settlementlist(){
         $.ajax({
             url:"/api/v1/order/getoneorder/"+id,
             dataType:"json",
             type:"get",
             success:function(res){
                 $("#order_number").text(res.data.order_number);
                 $("#username").text(res.data.username);
                 $("#payment_name").text(res.data.payment_name);
                 $("#payment_ac").text(res.data.payment_ac);
                 $("#good_name").text(res.data.good_name);
                 $("#quantity").text(res.data.quantity);
                 if(res.data.mode=="0"){
                   $("#mode").text("自行垫付");
                 }else if(res.data.mode=="1"){
                   $("#mode").text("货到付款");
                 }else if(res.data.mode=="2"){
                   $("#mode").text("现货直邮");
                 }
                 $("#estimate_price").text(res.data.estimate_price);
                 $("#userinfoid").val(res.data.id);
             },
             error:function(error){
                console.log(error);
             }
          })
      }




      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

        //自定义验证规则
        form.verify({
          actualprice: function(value){
            if(value.length < 1){
              return '输入有误';
            }
          }
          
        });
        
        //监听提交
        form.on('submit(jiesuao)', function(data){
          /*var shunju=$("#jiesuao").serialize();*/
          var actual_price=$("input[name='actual_price']").val();
          var business_rm=$("input[name='business_rm']").val();
          var id=$("#userinfoid").val();
          var dates={actual_price:actual_price,business_rm:business_rm,id:id};
          settlement_ajax(dates);//接口方法
          layer.alert("结算成功",{icon:6},function(){
              window.parent.location.reload();
              var index = parent.layer.getFrameIndex(window.name);
              parent.layer.close(index);
          });
          return false;
          
        
        });

        /* 结算接口 */
        function settlement_ajax(shunju){
          $.ajax({
             url:"/api/v1/order/settlement",
             data:shunju,
             dataType:"json",
             type:"post",
             success:function(res){
                 console.log(res);
                 if(res.code=="201"){
                    
                 }else{
                    return;
                 }
                
             },
             error:function(error){
                console.log(error);
                return;
             }
          })
        }

      });

     
      
      
      
      
      

      
      
  </script>
</body>
</html>
