  {include file='public/header' /}
  <link rel="stylesheet" href="{:config('admin_css')}styles.css">
  <body class="bodycolor">
     <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">抢购信息</a> >
        <a href="">新建抢购信息</a>
      </span>
      
       <!-- <button class="x-right rushbuy_addbtn" onclick="x_admin_show('添加用户','./order-add.html')"><i class="layui-icon"></i>添加抢购信息</button> -->
     
    </div>
    <div class="x-body">
        <form class="layui-form rushbuy_add_body" id="rushbuy_add_body">
          <!-- 抢购标题 -->	
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>抢购标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="title" name="title" required="" lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入抢购标题">
              </div>
          </div>
          <!-- 报单数量 -->
          <div class="layui-form-item">
              <label for="shopaddnumber" class="layui-form-label">
                  <span class="x-red">*</span>报单数量
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="price" name="number" required="" lay-verify="shopaddnumber" autocomplete="off" class="layui-input" placeholder="请输入报单得数量 如5">
              </div>
          </div>
          <!-- 下单金额 -->
          <div class="layui-form-item">
              <label for="shopaddnumber_x" class="layui-form-label">
                  <span class="x-red">*</span>下单金额
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="price" name="price" required="" lay-verify="shopaddnumber_x" autocomplete="off" class="layui-input" placeholder="请输入下单金额 如100">
              </div>
          </div>
          <!-- 预结算金额 -->
          <div class="layui-form-item">
              <label for="shopaddnumber_y" class="layui-form-label">
                  <span class="x-red">*</span>预结算金额
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="settle_price" name="settle_price" required="" lay-verify="shopaddnumber_y" autocomplete="off" class="layui-input" placeholder="请输入预估结算金额">
              </div>
          </div>
          <!-- 抢购类型 -->
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>抢购类型
              </label>
              <div class="layui-input-inline">
                  <select name="type" class="rushbuy_add_select">
                    <option value="1">普通</option>
                    <option value="2">置顶</option>
                    <option value="3">长期</option>
                  </select>
              </div>
          </div>
          <!-- 抢购时间 -->
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>抢购时间
              </label>
              <div class="layui-input-inline">
                  <input class="layui-input layui-inputtime" placeholder="请选择时间" required="" name="rob_time" id="startadd">
              </div>
          </div>
          <!-- 回款时间 -->
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>回款时间
              </label>
              <div class="layui-input-inline">
                  <select name="return_time" class="rushbuy_add_select">
                    <option value="0">当天回款</option>
                    <option value="1">1天</option>
                    <option value="2">2天</option>
                    <option value="3">3天</option>
                    <option value="4">4天</option>
                    <option value="5">5天</option>
                    <option value="6">6天</option>
                    <option value="7">7天</option>
                    <option value="8">8天</option>
                    <option value="9">9天</option>
                    <option value="10">10天</option>
                  </select>
              </div>
          </div>
          <!-- 购买渠道 -->
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>购买渠道
              </label>
              <div class="layui-input-inline">
                  <select name="channel" class="rushbuy_add_select">
                    <option value="1">京东</option>
                    <option value="2">天猫</option>
                    <option value="3">苏宁</option>
                    <option value="4">国美</option>
                    <option value="5">淘宝</option>
                    <option value="6">其他</option> 
                  </select>
              </div>
          </div>
          <!-- 图片上传 -->
          <div class="layui-form-item">
             <label for="img_file" class="layui-form-label">
                  <span class="x-red">*</span>上传图片
              </label>
             <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="file_img">
                   <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <input type="text" style="display:none" name="img" value='' />
                <img class="layui-upload-img fileimg" id="demo1">
             </div>   
          </div>
          <!-- 购买链接 -->
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>购买链接
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="rob_href" name="rob_href" required="" 
                  autocomplete="off" class="layui-input" placeholder="请输入购买链接">
              </div>
          </div>
          <!-- 领卷链接 -->
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  领卷链接
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="voucher_href" name="voucher_href" 
                  autocomplete="off" class="layui-input" placeholder="请输入领卷链接">
              </div>
          </div>
          <!-- 购买代码 -->
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  购买代码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="code" name="code" 
                  autocomplete="off" class="layui-input" placeholder="请输入购买代码 如淘口令">
              </div>
          </div>
          <!-- 下单地址必填 -->
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>下单地址
              </label>
              <div class="layui-input-inline" style="width:120px;">
              	  <span  class="layuibtn_span" id="add_btnshopaddress">
                      +增加
                  </span>
              </div>
              <div class="layui-input-inline" id="baodan_address">
                  <select id="address" class="rushbuy_add_select" style="width:300px;">
                    <option value="0">请选择</option>
                     {volist name="info" id="v"}
                    <option >{$v.address}-{$v.address1}</option>
                      {/volist}
                  </select>
              </div>
          </div>
          <!-- 下单地址表格 -->
          <div class="layui-form-item" id="shopnametableaddress">
          	  <table class="layui-table rushbuy_addtable" lay-skin="nob">
          	  	<thead>
          	  		<tr>
          	  			<th style="text-align:left;">名称</th>
          	  			<th>操作</th>
          	  		</tr>
          	  	</thead>
          	  	<tbody class="address_tbody">
          	  		
          	  	</tbody>
          	  </table> 
          </div>
          <!-- 地址提升必填 -->
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>地址提示
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="address_prompt" name="address_prompt" required="" lay-verify="address_tishi"
                  autocomplete="off" class="layui-input" placeholder="请输入地址提示">
              </div>
          </div>
          
          <!-- 抢购说明非必填 -->
          <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                  抢购说明
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="请输入内容" id="explain" name="explain" class="layui-textarea"></textarea>
              </div>
          </div>
          <!-- 报单填写规则必填 -->
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              	<span class="x-red">*</span>报单填写规则
              </label>
              <div class="layui-input-block">
                  <textarea placeholder="报单填写规则" required="" id="rule" name="rule" class="layui-textarea"></textarea>
              </div>
          </div>
          <!-- 货品名称必填 -->
          <div class="layui-form-item">
          	  <label for="L_huopinname" class="layui-form-label">
          	  	 <span class="x-red">*</span>货品属性
          	  </label>
          	   <span  class="layuibtn_span" id="add_btnshopname">
                  +增加
              </span>
          </div>
          <!-- 货品名称表格 -->
          <div class="layui-form-item" id="shopnametable">
          	  <table class="layui-table rushbuy_addtable addshop_goodname" lay-skin="nob">
          	  	<thead>
          	  		<tr>
          	  			<th style="text-align:left;">名称</th>
          	  			<th>操作</th>
          	  		</tr>
          	  	</thead>
          	  	<tbody class="shopnametbody">
          	  		
          	  	</tbody>
          	  </table> 
          </div>

          <!--  submit button提交 -->
          <div class="layui-form-item" style="text-align:center;margin-top:50px;">
              <button  class="layui-btn shopadd_btn_submit " lay-filter="shopadd" lay-submit="">
                  提交
              </button>
          </div>
      </form>
    </div>
    <script src="{:config('admin_js')}shopadd.js"></script>
    
  </body>

</html>