<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>sms</title>
    </head>
    <body>
        <h2>会员注册</h2>
            <table>
                <tr>
                    <td style="text-align:right">手机号码：</td>
                    <td><input type="number" min="13000000000" max="18999999999" placeholder="13688888888" name="phone" id="phone"  /></td>
                </tr>

                <tr>
                    <td style="text-align:right">验证码：</td>
                    <td><input type="number" min="100000" max="999999" placeholder="000000" name="code" id="code" /> <button id="getCode">获取验证码</button></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align:center"><button id="reg">注册</button></td>
                </tr>
            </table>

    </body>
    <script type="text/javascript" src="{:config('admin_lib')}jquery/1.9.1/jquery.min.js"></script>
    <script>
        function getCode() {
            var mobile = $('#phone').val();    // 获取手机号码

            $.ajax({
                type:'POST',
                url:"/api/v1/reception/sendsms/"+mobile,
                data:'mobile=' + mobile,
                success:function(result) {
                    console.log(result);
                }
            });
        }
        function reg() {
            var mobile = $('#phone').val();    // 获取手机号码
            var code   =$('#code').val();      //获取验证码

            $.ajax({
                type:'POST',
                url:"/api/v1/reception/memberregister_o",
                data:{mobile:mobile,code:code},
                success:function(result) {
                    console.log(result);
                }
            });
        }

        $('#getCode').click(function() {
            getCode();
        });

        $('#reg').click(function() {
            reg();
        });
    </script>

</html>
