@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-21 21:28:09
 * @version $Id$
 */
.bodycolor{
	background-color:#e3e3e3;
}
 /*  抢购信息  */
 .rushby_from{
 	margin-bottom:20px;
 }
select.rushbuy_paixu{
	height:30px;
	border-radius:5px;

}
.rushbuy_addbtn{
	width:150px;
	height:40px;
	line-height:40px;
	text-align: center;
	font-size:14px;
	color:#666;
	border:none;
	cursor: pointer;
	background-color:#e3e3e3;
}
.rushbuy_addbtn i{
	vertical-align: middle;
	margin-right:5px;
}

.rushbuy_con{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.rushbuy_con div{

}
.rushbuy_conimg{
	width:100px;
	height:100px;
}
.rushbuy_condiv{
	margin-left:10px;
}
.ovhidden{
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.rushbuy_con .rushbuy_conh5{
  width:180px;
	font-size:16px;
	margin-top:5px;
	line-height:24px;
	
}
.shoplist_address_over{
  width:100%;
  min-width:150px;
  word-break:break-all; /* 支持IE和chrome，FF不支持*/
  word-wrap:break-word;
  /*text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;*/
}
.rushbuy_con .rushbuy_contime{
	font-size:14px;
	line-height:22px;
	margin:10px 0;
}
.rushbuy_con .rushbuy_conhref{
	font-size:14px;
	line-height:22px;
}
.rushbuy_page{
	position:relative;
	width:100%;
}
.rushbuy_pageflex{
	position: fixed;
	bottom:0;
	left:20px;
  right:0;
  padding-right:20px;
	padding-top:20px;
  padding-bottom:20px;
	background-color:#e3e3e3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
/*  end   */

.layui-btn{
	height:30px;
	line-height:30px;
}
/* 新建抢购信息  */
.rushbuy_add_body{
	background-color:#fff;
	padding:20px;
}
textarea.layui-textarea{
	width:90%;
}
label.layui-form-label{
	width:100px;
}
label.layui-form-label.memberlist_editlabel{
  width:150px;
}
.layui-table.rushbuy_addtable{
	width:80%;
	margin-left:130px;
}
.layui-table.rushbuy_addtable thead tr th:last-child{
	text-align: right;
}
.layui-table.rushbuy_addtable tbody tr td:last-child{
	text-align:right;
}
.layui-input.layui-input-table{
	width:50%;
  border:none;
}
.layuibtn_span{
	display: inline-block;
	width:100px;
	height:28px;
	line-height:28px;
	color:#666;
	font-size:14px;
	border:1px solid #999;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}

#baodan_address .layui-unselect.layui-form-select{
	width:300px;
}
.layui-input, .layui-select, .layui-textarea{
	height:30px;
}
#shopnametableaddress{
	display: none;
}
.address_del{
	cursor: pointer;
}
.fileimg{
	margin-top:10px;
	max-height:100px;
}
.shop_input-address{
	border:none;
	width:80%;
  background-color:rgba(0,0,0,0);
}
.shopadd_btn_submit{
	width:150px;
	text-align:center;
}
#shopnametable{
  /*display: none;*/
}
.addshop_goodname{
  display: none;
}
/*  end  */






/*  end  */

.layui-input.layui-inputtime{
	height:30px;
	border-radius:5px;
}
.x-nav{
	border-bottom:1px solid #999;
}




/* 会员列表页面  */
.member_listpage{
	position: fixed;
	bottom:30px;
	right:20px;
	display: flex;
}
.member_list_selectpage{
	height:31px;
	margin-top:-4px;
}
.page span.member_list_spanpage{
	border:none;
	padding:0;
	padding-left:5px;
}
.page span.member_list_spanpage input{
	width:40px;
	height:28px;
	text-align: center;
	display: inline-block;
    color: rgb(136, 136, 136);
    background: url(xadmin.css) 0px 0px no-repeat rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-image: initial;
    border-radius:3px;
}
.page span#address_currentnum{
	padding:10px 0px;
}

/*  添加下单地址  */
.select_address_city{
    		display: inline-block;
    		width:150px;
    		height:35px;
    		line-height:35px;
    	}
    	.address_city .layui-form-select{
    		display: inline-block;
    		width:140px;
    		height:35px;
    		line-height:35px;

    	}
    	.address_city .layui-form-select dl{
    		height:230px;
    		top:28px;
    	}
    	.address_city{
    		display: flex;
    		flex-direction: row;
    		flex-wrap: nowrap;
    		justify-content: space-between;
    	}
    	.address_city_btn{
    		
    		margin:50px 0 0 0;padding:0;
    		text-align: center;
    		
    	}
    	.address_city_add{
    		width:150px;
    		background-color:#009688;
    		color:#fff;
    		margin-left:0;
    	}
    	.address_city_close{
    		display: inline-block;
    		width:248px;
    		height:38px;
    		line-height:38px;
    		background-color:#e6e6e6;
    		color:#666;
    		margin-left:0;
    		border:none;
    		text-align: center;
    		cursor: pointer;
    	
    	}
    	.layui-btn+.layui-btn.address_city_close{
    		 margin-left:0;
    	}
    	.address_city_close:hover{
    		
    		
    		color:#333;
    		
    	
    	}

    	/*  结算 settlement.html */
    	.table_diolg{
       height:25px;
       line-height:25px;
       margin-bottom:8px;
	}
	.table_diolg .layui-form-label{
		padding:5px 15px;
	}
	.table_diolg .layui-input-inline span{
		display: block;
		margin-top:2px;
	}
    .table_jiesua{
    	height:30px;
    	line-height:30px;
    	margin-bottom:8px;
    }
    .table_jiesua .layui-form-label span{
       display: block;
       margin-top:-4px;
    }
	.layui-form-item .layui-input-inline.table_diolg_textarea{
		width:320px;
	}
	.table_jiesua_btn{
		width:100px;
		position: absolute;
		
		z-index:1;
		height:35px;
		line-height:35px;
	}
	.table_jiesua_btnok{
		 width:400px;
		 text-align: center;
		 margin-left:60px;
		 margin-top:12px;
	}
  .table_quxia{
    display: none;
  }
  .rushbuy_conh5{
  	text-overflow:ellipsis;
  	white-space: nowrap;
  	overflow:hidden;
  }
  .rushbuy_address{
  	width:100%;
    min-width:150px;
  	text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }

  /* page  */
  .memberlist_page{
  	 position: fixed;
  	 width:100%;
  	 bottom:0;
  	 height:80px;
  	 background-color:#e3e3e3;
  }
  .address_num{
  	display: inline-block;
  	margin-right:5px;
  }
  .listpages li{
  	 display:inline-block;
  	 margin:0;
  	 height:30px;

  }
  .listpages li.first a{
     padding:5px;
  }
  .listpages li.last a{
  	 padding:5px;
  }
  .listpages li.page a{
     padding:7px;
  }
  .listpages li.prev a{
    padding:7px;
  }
  .listpages li.next a{
    padding:7px;
  }
  .listpages li.page.active{
  	 background-color:#009688;
  	 color:#fff;
  }
  .listpages li.page.active a{
  	 background-color:#009688;
  	 color:#fff;
  }
  .listpages li.disabled a{
  	cursor: default;
  }
  .input-page_btn{
       text-align: center;
       height:30px;
       padding:2px 8px;
       color:#333;
       background-color:#fff;
       border:1px solid #e8e8e8;
       border-radius:3px;
       font-size:14px;
     }
    table tbody tr.is_status0{
      background-color:#ECFFFF;
      opacity:0.8;
    } 
    table tbody tr.is_status1{
       background-color:#F0FFF0;
       opacity:0.8;
    }
    table tbody tr.is_status2{
      background-color:#FFFFF4;
    }

    /* order */
     #opensett_div{
        margin-top:30px;
     }
     .opensett_p{
        height:30px;
        
     }
     #opensett_div p span{
        display: inline-block;
        font-size:14px;
     }
     #opensett_div p span:first-child{
        width:130px;
        text-align:right;
        margin-right:20px;
     }
     .opensett_ps{
       height:30px;
       color:red;

     }
     .opensett_actual{
       height:30px;
       color:red;
     }
     .input-business_rm{
        display: inline-block;
        height:30px;
        width:320px;
        padding-left:15px;
        border:1px solid #e3e3e3;
        border-radius: 2px;
     }
     .order_nodate{
        text-align: center;
        font-size:16px;
        color:#999;
        padding:20px 0;
     }
     .shoplist_del{
        cursor: pointer;
     }
     .layui-table th{
        text-align: center;
     }
     .layui-table td, .layui-table th{
        padding:9px 10px;
     }
     .shopaddno{
      display: none;
     }
     .as0,.as1,.as2,.as3{
       display: block;
     }
     .memberlist_edit .layui-form-item.member_edits .layui-input-inline{
           width:300px;
     }
     .user_declaration{
       cursor: pointer;
     }
     .readonly_size{
       color:#666;
     }
     .layui-layer-loading .layui-layer-loading0{
      margin:auto;
    }