@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-05-31 10:57:14
 * @version $Id$
 */
html,body,div,ul,li,dl,dd,dt,p,h1,a,h2,h3,h4,h5,h6,img,span,figure,select,input,label,article,section,header,footer,nav,aside{
	margin:0;padding:0;
}
html{
  font-family: PingFang-SC;
  font-weight: normal;
  font-style: normal;
  font-size:12px;
  height:100%;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.d_left{
	text-align:left;
}
.d_right{
	text-align: right;
}
.d_center{
	text-align: center;
}
.d_float_left{
   float:left;
}
.d_float_right{
   float:right;	
}
.container{
	 margin:auto;
	 position:relative;
	 min-width:320px;
	 max-width:750px;
	 width:100%;
	 height:100%;
}
.containers{
	overflow:hidden;
	background-color: #f2f2f3;
}
.public_header{
	position:fixed;
	z-index:999;
	max-width:750px;
	min-width:320px;
	width:100%;
	height:44px;
	top:0;
	line-height:44px;
	color:#fff;
	text-align: center;
	background-color: #ff1744;
}
.public_header.index_header{
	position:fixed;
	z-index:999;
	max-width:750px;
	min-width:320px;
	width:100%;
	height:44px;
	top:0;
	line-height:44px;
	color:#fff;
	text-align: center;
	background: -webkit-linear-gradient(left,#ff177f,#ff1744);
    background:linear-gradient(left,#ff177f,#ff1744);
}
.public_header .public_left{
	position: absolute;
	left:17px;
	
}
.public_header .public_center h5{
	 font-weight:500;
	 font-size:20px;
	 color:#fff;
}
.public_header .public_left a{
	display: block;
	height:44px;
	color:#fff;
}
.nav_back{
   display:inline-block;
   width:12px;	
   margin-top:11px;
}
.register_h5title{
	font-weight:500;
	 font-size:20px;
	 color:#fff;
}
.header_back{
	display: inline-block;
	vertical-align: top;
	color:#fff;
	font-size:16px;
	margin-left:-2px;
}
.weui-navbar__item.navbar_item:after{
       border-right:0;
}
   .user_info_alipay_btn{
		width:100%;
		display: flex;
		justify-content: space-between;
		margin:0;padding:0;
		background-color:#808080;
	}

	.alipay_close1{
		display: inline-block;
		width:50%;
		margin:0;padding:0;
		height:35px;
		line-height:35px;
		text-align:center;
		color:#fff;
		border:none;
		background-color:#808080;
	}
	.alipay_close1s{
		display: inline-block;
		width:100%;
		margin:0;padding:0;
		height:35px;
		line-height:35px;
		text-align:center;
		color:#fff;
		border:none;
		background-color:#ff1744;
	}
	.alipay_close2{
		display: inline-block;
		width:50%;
		margin:0;padding:0;
		height:35px;
		line-height:35px;
		text-align:center;
		color:#fff;
		border:none;
		background-color:#ff1744;
	}
	p.weui-toast_content{
		font-size:12px;
	}
	 /*.register_pwd .weui-toast{
      min-height:4.6em;
    }
	
	.weui-icon_toast{
		margin:11px 0 0;
	}
	i.weui-icon_toast.weui-icon-success-no-circle:before{
		font-size:30px;
	}*/
	.redcolor{
		font-weight:600;
		font-size:14px;
		color:#ff1744;
	}
	.redcolors{
		font-size:14px;
		font-weight:500;
		color:#ff1644;
	}
	.body_positions{
		position: fixed;
        width: 100%;
        background-color: #f3f3f3;
	}
	.index_timenodate{
		width:100%;
		text-align:center;
		font-size:14px;
		color:#fff;
		opacity:0.7;
	}
	.tab_backcol{
		width:100%;
		background-color: #f3f3f3;
	}
	.index_nodate_img{
		width:100%;
		height:648px;
		text-align: center;
		font-size:14px;
		overflow-y: hidden;
		background:url(../images/index_nodate.png) 120% 67px no-repeat;
		background-size:90%;
	}
	.index_nodate_titlea{ 
        margin:27% auto;
        width: 48px;
        height: 33px;
        -moz-opacity:1;
        -webkit-opacity:0.5;
        opacity: 0.5;
        background: -moz-linear-gradient(to bottom,#c8d0e6,#a7b0cc);
        background: -ms-linear-gradient(to bottom,#7b86a4,#454e6b);
        background:-webkit-linear-gradient(to bottom,#7b86a4,#454e6b);
        background: -o-linear-gradient(to bottom,#7b86a4,#454e6b);
        background: linear-gradient(to bottom,#7b86a4,#454e6b);
        -webkit-background-clip: text;
        color: transparent;
        font-family: PingFang-SC;
        font-size: 24px;
        font-weight: 600;
	}
	.index_nodate_title{
		margin:55% auto 0 auto;
		width:120px;
		height:28px;
		line-height:28px;
        font-size:20px;
        color:#333;
        font-weight:500;
	}
	.index_nodate_text{
		margin:16px auto 0 auto;
		font-size:14px;
		color:#666;
		height:22px;
		line-height:22px;
		width:259px;
		text-align: center;
		-o-opacity:0.7;
		-ms-opacity:0.7;
		-webkit-opacity:0.7;
		opacity: 0.7;
	}
	.index_nodate{
		width:100%;
		text-align:center;
		font-size:14px;
		color:#999;
		padding:20px 0;
	}
	a.weui-btn:after{
		border:none;
	}
	button.weui-btn:after{
		border:none;
	}
	.weuiloadmore_body{position:fixed;width:100%;left:0;top:94px!important;margin:0!important;
    	z-index:9999;background-color: rgba(255,255,255,1);bottom:57px;}
    .weuiloadmore_bodyn{position:fixed;width:100%;left:0;top:96px!important;margin:0!important;
    	z-index:9999;background-color: rgba(255,255,255,1);height:100%;}
    .weuiloadmore_bodys{position:fixed;width:100%;left:0;top:46px!important;margin:0!important;
    	z-index:9999;background-color: rgba(255,255,255,1);height:100%;}
    .weuiloading_img{margin-top:25%;width:30px!important;height:30px!important;}


@media screen and (min-width:320px) and (max-width:350px){
	.index_con_price strong{
         font-size:18px;
         color:#ff1744;
         font-weight: 500;
      }
      #tab .apding{
		padding:10px;
	  }
	  .index_con_btn{
	  	padding-left:10px;
	  	padding-right:10px;
	  }
	  .index_con_btn3s{
	  	padding-left:10px;
	  	padding-right:10px;
	  }
	  .weui-media-box_appmsg .weui-media-box__hd.index_media_img{
	  	width:90px;
	  	height:90px;
	  }
	  .weui-media-box_appmsg .weui-media-box__hd{
	  	margin-right:0.5rem;
	  }
	  
}

/*@media screen and (min-width:640px) and (max-width:768px){
   .index_nodate_img{
		width:100%;
		height:980px;
   }
}*/
